/* ==========  VARIABLES  =========  */

:root {
  /* // Font Family */
  --primary-font: "Poppins", sans-serif;
  --heading-font: "Arapey", serif;

  /* // Font-size  */

  /* //  Color */
  --color-primary: #f73d78;
  --color-primary-hover: #ca2056;
  --color-secondary: #f48b7f;

  --color-grey-dark: #777;
  --color-grey-dark-1: #333;

  --color-white: #fff;
  --color-black: #000;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: var(--primary-font);
  font-weight: 300;
  line-height: 1.6;
  color: var(--color-grey-dark-1);
}
