/* ==========  VARIABLES  =========  */

:root {
  /* // Font Family */
  --primary-font: "Poppins", sans-serif;
  --heading-font: "Arapey", serif;

  /* // Font-size  */

  /* //  Color */
  --color-primary: #f73d78;
  --color-primary-hover: #ca2056;
  --color-secondary: #f48b7f;

  --color-grey-dark: #777;
  --color-grey-dark-1: #333;

  --color-white: #fff;
  --color-black: #000;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: var(--primary-font);
  font-weight: 300;
  line-height: 1.6;
  color: var(--color-grey-dark-1);
}

p {
  color: var(--color-grey-dark);
  font-size: 1.7rem;
}

.container {
  width: 80%;
  margin: 6rem auto;
}

.btn-primary {
  outline: none;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 1rem 2rem;
  font-size: 1.8rem;
  margin-top: 1rem;
  transition: all 0.3s;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: var(--color-primary-hover);
  transform: translateY(-2px);
}

.section__header {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 3rem;
}

.section__header h2 {
  font-size: 3.5rem;
  color: var(--color-grey-dark-1);
  font-weight: 500;
  position: relative;
  padding-bottom: 1.5rem;

  font-family: var(--heading-font);
  font-style: italic;
}

.section__header h2::after {
  content: "";
  position: absolute;
  width: 20%;
  height: 0.2rem;
  background-color: var(--color-primary);
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
}

.section__header p {
  margin: 1.5rem;
}

/* ========== navbar ========== */

nav {
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 6.8rem;
  color: var(--color-primary-hover);
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  font-size: 1.8rem;
  color: var(--color-primary);
  font-weight: 400;
  text-transform: capitalize;
  position: relative;
}

.nav-links a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  background-color: var(--color-primary-hover);
  transform: scaleX(0);
  transform-origin: center;
  transition: all 0.4s ease-out;
}

.nav-links a:hover::before {
  transform: scaleX(1);
}

.profile {
  display: flex;
  gap: 1.5rem;
}

.profile a {
  color: var(--color-grey-dark-1);
  font-size: 1.8rem;
}

/* ========== Banner ========== */
.banner {
  height: 80vh;
  background-image: url(../images/banner-1.jpg);
  background-position: center;
  background-size: cover;
}

.banner__text {
  height: 100%;
  width: 65%;
  padding: 18rem 5rem;

  display: flex;
  justify-content: center;
  /* align-items: center; */

  animation: zoomIn 1.4s ease-in;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  70% {
    transform: scale(1.02);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.banner__text h1 span {
  display: block;
  font-size: 4rem;
  color: var(--color-grey-dark-1);
  font-weight: 600;
}
.banner__text p {
  margin: 1.5rem 0;
}

/* ========== Popular Flowers ========== */
.popular__flowers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  margin: 3rem;
}

/* 
.popular__flower-img {
  width: 100%;
  height: 100%;
} */

.popular__flower-card {
  cursor: pointer;
  transition: all 0.4s;
}

.popular__flower-card:hover {
  transform: translateY(-10px);
}

.popular__flower-card--1,
.popular__flower-card--2,
.popular__flower-card--3,
.popular__flower-card--4 {
  background-size: cover;
  background-position: center;
  height: 50vh;
  transition: all 0.4s;
}

.popular__flower-card--1 {
  background-image: url(../images/valentine-2.jpg);
}

.popular__flower-card:hover .popular__flower-card--1 {
  background-image: linear-gradient(
      rgba(51, 51, 51, 0.7),
      rgba(51, 51, 51, 0.7)
    ),
    url(../images/valentine-2.jpg);
}

.popular__flower-card--2 {
  background-image: url(../images/wedding.jpg);
}

.popular__flower-card:hover .popular__flower-card--2 {
  background-image: linear-gradient(
      rgba(51, 51, 51, 0.7),
      rgba(51, 51, 51, 0.7)
    ),
    url(../images/wedding.jpg);
}

.popular__flower-card--3 {
  background-image: url(../images/birthday.jpg);
}

.popular__flower-card:hover .popular__flower-card--3 {
  background-image: linear-gradient(
      rgba(51, 51, 51, 0.7),
      rgba(51, 51, 51, 0.7)
    ),
    url(../images/birthday.jpg);
}

.popular__flower-card--4 {
  background-image: url(../images/corporate.jpg);
}

.popular__flower-card:hover .popular__flower-card--4 {
  background-image: linear-gradient(
      rgba(51, 51, 51, 0.7),
      rgba(51, 51, 51, 0.7)
    ),
    url(../images/corporate.jpg);
}

.popular__flower-hover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;

  opacity: 0;
  visibility: 0;
  transition: all 0.4s;
}

.popular__flower-hover h3 {
  color: var(--color-white);
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 0.8rem;
}

.popular__flower-hover h3::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 2px;
  background-color: var(--color-white);
  bottom: 0;
  left: 3.2rem;
  transition: all 0.3s;
}

.popular__flower-hover p {
  color: var(--color-white);
  font-size: 1.8rem;
  font-weight: 300;
  margin: 1rem 0;
  transition: all 0.3s;
}

.popular__flower-card:hover .popular__flower-hover {
  opacity: 1;
  visibility: 1;
}

.popular__flower-title {
  text-align: center;
  margin: 2rem;
  font-size: 2rem;
  color: var(--color-grey-dark-1);
  font-weight: 300;
}

/* ========== Featured Flowers ========== */

/* ========== New Flowers ========== */

.new__flowers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  grid-gap: 6rem;

  margin-top: 3rem;
}

.new__flower-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40vh;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 5px;
  padding-bottom: 2rem;
  cursor: pointer;
}

.new__flower-img {
  height: 100vh;
  width: 100%;

  overflow: hidden;
}

.new__flower-img img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  transition: all 0.4s;
}

.new__flower-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}

.new__flower-text p {
  font-size: 2rem;
  align-self: flex-end;
  color: var(--color-secondary);
}

.new__flower-card:hover .new__flower-img img {
  transform: scale(1.2);
}

/* ========== Contact ========== */

/* ========== Footer ========== */
.footer {
  background-color: var(--color-grey-dark-1);
  margin-top: 12rem;
  padding: 5rem;

  display: flex;
  gap: 3rem;
}

.links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
  width: 70%;
  color: var(--color-white);
}

.links h5 {
  font-size: 1.7rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}

.links li {
  list-style: none;
  line-height: 2;
}

.links a {
  color: var(--color-grey-dark);
  text-decoration: none;
  font-size: 1.3rem;
  transition: all 0.4s;
}

.links a:hover {
  text-decoration: underline;
  color: var(--color-secondary);
}

.footer-logo {
  width: 30%;
}

.footer-logo h1 {
  color: var(--color-white);
  font-size: 3.5rem;
  margin-top: -2rem;
}

.social {
  margin-top: 1.5rem;
}

.social a {
  color: var(--color-white);
  text-decoration: none;
  font-size: 2rem;
  margin-right: 1rem;
  transition: all 0.4s;
}

.social a:hover {
  color: var(--color-secondary);
}
